# RC Pakistan Cargo & Logistics - Requirements v2.0 (2023)
pandas==1.5.3
numpy==1.24.2
matplotlib==3.6.3
seaborn==0.12.2
scikit-learn==1.2.1
xgboost==1.7.4
flask==2.2.3
psycopg2-binary==2.9.5
jupyter==1.0.0
kafka-python==2.0.2
